@import "../../style/mixin.styl"

#entryModule
  padding 0.1rem
  display flex
  flex-flow row no-wrap
  justify-content: space-around
  .item
    text-align center
    flex 0 1 auto 
    img
      height 1rem
      width auto
      margin 0 auto
    p
      width:100%
      no-wrap()  
    
  