<div class="main-body">
  <div class="banner-wrap">
    <%= components.banner %>
  </div>
  <div class="entry-wrap">
    <%= components.entry %>
  </div>
  <div class="content-wrap">this is content</div>
  <div class="footer-wrap">
    <div class="inner">footer</div>
  </div>
</div>