html,body
  font-size 0.28rem
  font-family:"Microsoft YaHei",Arial,"ArialMT","Helvetica Neue", Helvetica,sans-serif;
  padding-bottom 0.8rem
#app
  width:100%
  max-width:10rem
  margin 0 auto
  background:#FCFCF0