html,body
  font-size 0.28rem
  font-family:"Microsoft YaHei",Arial,"ArialMT","Helvetica Neue", Helvetica,sans-serif;
  padding-bottom 0.8rem
  background:#f7f7f7
#app
  width:100%
  max-width:10rem
  margin 0 auto
  .wrap
    wdith 100%
    padding 0.32rem 0.3rem
    &>.box:nth-child(5n-4) .main
      border-left-color: #c23b4c
    &>.box:nth-child(5n-3) .main
      border-left-color:#FBB82C
    &>.box:nth-child(5n-2) .main
      border-left-color: #EA5638
    &>.box:nth-child(5n-1) .main
      border-left-color:#7FAADF
    &>.box:nth-child(5n) .main
      border-left-color: #9F73E2
    
    
  
