<div  class="banner-wrap">
  <div class="swiper-container">
    <div class="swiper-wrapper">
       
      <div class="swiper-slider" >
        <img src="<%= require('./img/ad.png') %>">
      </div>
      <div class="swiper-slider" >
        <!-- <img src="https://op.9kacha.com/Cloud/images/obtain/group/2017/11/2b0b78dbeacd.jpg"> -->
        <img src="<%= require('./img/ad.png') %>">
      </div> 
      <div class="swiper-slider" >
        <img src="<%= require('./img/ad.png') %>">
        <!-- <img src="https://op.9kacha.com/Cloud/images/obtain/group/2017/11/2b0b78dbeacd.jpg"> -->
      </div>  
    </div>
  </div> 
</div>