<div  class="banner-wrap"> 
  <div class="slider"  data-simple-slider>
    <% for (var i = 0; i < bannerList.length; i++) { %>
      <a href="<%= bannerList[i].url %>">
        <img src="<%= bannerList[i].picUrl %>" >
      </a>
    <% } %> 
  </div> 
</div>