<div  class="banner-wrap">
  <div class="swiper-container">
    <div class="swiper-wrapper">
       
      <div class="swiper-slider" >
        <img src="<%= require('./img/ad.png') %>">
      </div>
      <div class="swiper-slider" >
        
        <img src="<%= require('./img/ad.png') %>">
      </div> 
      <div class="swiper-slider" >
        <img src="<%= require('./img/ad.png') %>"> 
      </div>  
    </div>
  </div> 
</div>