<div class="main-body">
  <div class="banner-wrap">
    <div id="banner"></div>
    this is a banner
  </div>
  <div class="entry-wrap">
    this is the entry
  </div>
  <div class="content-wrap">this is content</div>
  <div class="footer-wrap">
    <div class="inner">footer</div>
  </div>
</div>